# ─── MySQL ───────────────────────────────────────────
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=cineclub_reunion
MYSQL_USER=cineclub_user
MYSQL_PASSWORD=motdepasse_fort_ici
MYSQL_POOL_LIMIT=10

# ─── MongoDB ─────────────────────────────────────────
MONGO_URI=mongodb://localhost:27017/cineclub_reunion

# ─── Serveur ─────────────────────────────────────────
PORT=3000
NODE_ENV=development
